<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="/assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">Clínica de Clonagem <b>Dr. Albieri</b>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto my-2 my-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="#">Listar Clones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Criar Clone</a>
            </li>
        </ul>
    </div>
</nav>
<div class="jumbotron inicial jumbotron-fluid">
    <div class="container">
        <h1>Nós criamos milagres, todos os dias.</h1>
        <h2>Clínica de Clonagem Dr. Albieri</h2>
    </div>
</div>
<div class="jumbotron bg-light jumbotron-fluid" style="margin-bottom: 0;">
    <div class="container">
        <div class="primeiros-passos text-center">
            <img src="/assets/images/arrow.png" width="30" height="30" class="d-inline-block align-top" alt="">Primeiros Passos
        </div>
        <div class="row lista text-center">
            <div class="col-sm-4">
                <img src="/assets/images/dralbieri.jpg" class="albieri d-inline-block align-top" alt="">
                <h2>Equipe</h2>
                <hr/>
                <h4>Os estudos do Dr. Albieri serviram de pilar para a nossa maravilhosa equipe médica.</h4>
            </div>
            <div class="col-sm-4">
                <img src="/assets/images/add.png" class="albieri d-inline-block align-top" alt="">
                <h2>Crie o seu clone</h2>
                <hr/>
                <h4>Aqui você configura tudo o que precisa para que o seu clone seja gerado.</h4>
            </div>
            <div class="col-sm-4">
                <img src="/assets/images/list.png" class="albieri d-inline-block align-top" alt="">
                <h2>Lista de Clones</h2>
                <hr/>
                <h4>Veja e edite os nossos clones, admire a nossa coleção.</h4>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron doutores jumbotron-fluid">
    <div class="container">
        <h1>Nós criamos milagres, todos os dias.</h1>
        <h2>Clínica de Clonagem Dr. Albieri</h2>
    </div>
</div>