<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-togle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Dr. Albieri - Clinica Fertilidade</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#criaClone">Criar Clone</a></li>
                <li><a href="#listaClone">Listar Clones</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid bg-1 text-center">
    <h1>Clínica de Clones do Dr. Albieri</h1>
    <img src="assets/images/dralbieri2.jpg" class="img-circle" alt="Dr.Albieri">
    <h3>Quer um clone? veio ao lugar certo!</h3>
    <p>Desde 2001, quando meus serviços ficaram mundialmente famosos graças à novela O Clone, todos querem um Murilo Benício para chamar de seu.</p>
</div>
<!--
<div class="container-fluid bg-3 text-center">
    <h3>Onde me Encontrar?</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
-->

<div class="container-fluid bg-3 text-center" id="criaClone">
    <h3>Criar Clone</h3>
    <img src="assets/images/muriloBenicio-Diogo2.jpg" class="img-circle" alt="Dr.Albieri">
    <div class="row input">
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Nome" aria-label="Nome" aria-describedby="basic-addon1">
        </div>
        <div class="col-lg-4">
            <select class="custom-select" multiple>
                <option selected>Escolha o Equipamento:</option>
                
                <option value="0">braço mecânico</option>
                <option value="1">11</option>
                <option value="2">12</option>
                <option value="3">13</option>
                <option value="4">14</option>

              </select>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Idade" aria-label="Idade" aria-describedby="basic-addon2">
        </div>
    </div>
    <a href="#" class="btn btn-default btn-lg">Salvar</a>
    <a href="#" class="btn btn-default btn-lg">Cancelar</a>
</div>

<div class="container-fluid bg-2 text-center" id="listaClone">
    <h3>Listar Clone</h3>
    <a href="#" class="btn btn-default btn-lg">Botão1</a>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>Data de Criação</th>
                    <th>Equipamentos</th>
                </tr>
            </thead>
            <tr>
                <th>Luc6474</th>
                <th>16</th>
                <th>16/07/3831</th>
                <th>Figado Blindado, Pele Adaptativa, Juliana Paes</th>
                <th><button type="button" class="btn btn-primary">Editar</button></th>
                <th><button type="button" class="btn btn-primary">Deletar</button></th>
            </tr>
            <tr>
                <th>Dio6389</th>
                <th>11</th>
                <th>11/07/3441</th>
                <th>Bola de Fogo, Olho de Tandera, Caneta Tinteiro</th>
                <th><button type="button" class="btn btn-primary">Editar</button></th>
                <th><button type="button" class="btn btn-primary">Deletar</button></th>
            </tr>
            <tbody>

            </tbody>
        </table>
    </div>


</div>