@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body {
    font-family: 'Ubuntu', sans-serif;
}

.navbar-brand {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.navbar-brand img {
    margin-right: 0.4em;
}

.navbar a:hover {
    color: #2da650;
}

.jumbotron.inicial {
    height: 85vh;
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(/assets/images/background.png);
    background-position: top center;
    background-repeat: none;
    background-size: cover;
    -o-background-size: cover;
    text-shadow: 2px -1px 0px rgba(0, 0, 0, 0.4);
    padding-top: 0;
    margin: 0;
}

.jumbotron h1 {
    margin-bottom: 0;
    font-size: 3.5em;
    font-family: "Open Sans", "Microsoft YaHei New", "Microsoft Yahei", "Jeju Gothic", sans-serif;
    font-weight: 300;
    line-height: 1.15em;
    color: #FFF;
    text-align: center;
    position: relative;
    padding-top: 32%;
}

.primeiros-passos {
    background-color: #2da650;
    width: 11em;
    height: 2em !important;
    -ms-flex-line-pack: center;
    align-content: center;
    margin-top: -4em;
    margin-left: 2em;
    font-size: x-large;
    color: white;
}

.primeiros-passos img {
    margin-top: 0.25em;
}

@media (max-width: 500px) {
    .primeiros-passos {
        margin-top: -17%;
    }
}

.lista {
    margin: 2em;
}

hr {
    border-color: #c6e0d1;
}

.albieri {
    border-radius: 100%;
    width: 141px;
}

.lista img:hover {
    width: 150px;
    border: 3px solid #2da650;
}

.doutores {
    height: 85vh;
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(/assets/images/doctors.jpg);
    background-position: top center;
    background-repeat: none;
    background-size: cover;
    -o-background-size: cover;
    text-shadow: 2px -1px 0px rgba(0, 0, 0, 0.4);
}