.navbar {
    background: #1CB0F6
}
.navbar-brand{
   color: white
}
.menu {
    background: #006ACB
}

.nav-link {
    color: #C1E4FF
}

.nav-link:hover{
    color: #FFF
}

.col
{
   padding-left: 0 
    
}